/* Removes the clear button from date inputs */
input[type="date"]::-webkit-clear-button {
    display: none;
}

/* Removes the spin button */
input[type="date"]::-webkit-inner-spin-button { 
    display: none;
}

/* Always display the drop down caret */
input[type="date"]::-webkit-calendar-picker-indicator {
    color: #2c3e50;
}

/* A few custom styles for date inputs */
input[type="date"] {
    appearance: none;
    -webkit-appearance: none;
    color: rgba(255,255,255,1.00);
    font-family: "Helvetica", arial, sans-serif;
    font-size: 18px;
    border:1px solid #ecf0f1;
    background:none;
    padding:5px;
    display: inline-block !important;
    visibility: visible !important;
}

input[type="date"], focus {
    color: #95a5a6;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}
/********/
/* Removes the clear button from date inputs */
input[type="time"]::-webkit-clear-button {
    display: none;
}

/* Removes the spin button */
input[type="time"]::-webkit-inner-spin-button { 
    display: none;
}

/* Always display the drop down caret */
input[type="time"]::-webkit-calendar-picker-indicator {
    color: #2c3e50;
}

/* A few custom styles for date inputs */
input[type="time"] {
    appearance: none;
    -webkit-appearance: none;
    color: rgba(216,216,216,1.00);
    font-family: "Helvetica", arial, sans-serif;
    font-size: 18px;
    border:1px solid #ecf0f1;
    background:none;
    padding:5px;
    display: inline-block !important;
    visibility: visible !important;
}

input[type="time"], focus {
    color: rgba(216,216,216,1.00);
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}